# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
ENV/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
